
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1> <%= @list.name %> </h1>

    <%= link_to "create", new_list_bookmark_path(@list) %>
  </div>
</div>


<div class="card-trip" id="card">
<% @list.movies.each do |movie| %>
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />

  <div class="card-trip-infos">
    <div>

      <h2><%= movie.title %></h2>
      <p><%= movie.overview %></p>
    </div>
    <h2 class="card-trip-pricing"><%= movie.rating %></h2>

  </div>
</div>
<% end %>




 <% @list.movies.each do |movie| %>
<ul class="list-group">

    <li class="list-group-item"><%= movie.title %></li>
     <li class="list-group-item"><%= movie.poster_url %></li>
          <li class="list-group-item"><%= movie.rating %></li>
               <li class="list-group-item"><%= movie.overview %></li>



</ul>
<% end %>

<%= link_to "create", new_list_bookmark_path(@list) %>
